<?xml version="1.0"?>
<robot name="$(arg name)" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find swerve_drive_description)/urdf/wheel.xacro" />
  <xacro:include filename="$(find swerve_drive_description)/urdf/swerve_drive.gazebo.xacro" />
  <xacro:include filename="$(find swerve_drive_description)/urdf/swerve_drive.ros2_control.xacro" />

  <xacro:arg name="robot_type" default=""/>
  <xacro:arg name="name" default="" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="visual_parameters_file" default="$(find swerve_drive_description)/config/$(arg robot_type)/visual_parameters.yaml" />
  <xacro:arg name="physical_parameters_file" default="$(find swerve_drive_description)/config/$(arg robot_type)/physical_parameters.yaml" />
  <xacro:property name="config_visual_parameters" value="${load_yaml('$(arg visual_parameters_file)')}" />
  <xacro:property name="config_physical_parameters" value="${load_yaml('$(arg physical_parameters_file)')}" />
  
  <xacro:property name="mesh_files" value="${config_visual_parameters['mesh_files']}" />
  <xacro:property name="joints_info" value="${config_physical_parameters['joints']}" />
  <xacro:property name="links_info" value="${config_physical_parameters['links']}" />
  <xacro:property name="bio" value="${links_info['base']['inertial']['origin']}" />
  <xacro:property name="bii" value="${links_info['base']['inertial']['inertia']}" />
  <xacro:property name="jbo" value="${joints_info['base']['origin']}" />

  <link name="base_footprint"/>
  <joint name="base_joint " type="fixed">
    <origin
      xyz="${jbo['x']} ${jbo['y']} ${jbo['z']}"
      rpy="${jbo['roll']} ${jbo['pitch']} ${jbo['yaw']}" />
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="${bio['x']} ${bio['y']} ${bio['z']}"
        rpy="${bio['roll']} ${bio['pitch']} ${bio['yaw']}" />
      <mass
        value="${links_info['base']['inertial']['mass']}" />
      <inertia
        ixx="${bii['xx']}"
        ixy="0"
        ixz="0"
        iyy="${bii['yy']}"
        iyz="0"
        izz="${bii['zz']}" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find ${mesh_files['package']})/${mesh_files['base']['visual']['path']}" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find ${mesh_files['package']})/${mesh_files['base']['collision']['path']}" />
      </geometry>
    </collision>
  </link>

  <xacro:property name="swerve_joint" value="${joints_info['swerve']}" />
  <xacro:property name="wheel_joint" value="${joints_info['wheel']}" />

  <xacro:swerve_wheel
    side="lf_"  parent="base_link" mesh_files="${mesh_files}" swerve_joint="${swerve_joint['lf']}" 
    wheel_joint="${wheel_joint['lf']}" links="${links_info}" />
  <xacro:swerve_wheel
    side="rf_"  parent="base_link" mesh_files="${mesh_files}" swerve_joint="${swerve_joint['rf']}" 
    wheel_joint="${wheel_joint['rf']}" links="${links_info}" />
  <xacro:swerve_wheel
    side="rr_"  parent="base_link" mesh_files="${mesh_files}" swerve_joint="${swerve_joint['rr']}" 
    wheel_joint="${wheel_joint['rr']}" links="${links_info}" />
  <xacro:swerve_wheel
    side="lr_"  parent="base_link" mesh_files="${mesh_files}" swerve_joint="${swerve_joint['lr']}" 
    wheel_joint="${wheel_joint['lr']}" links="${links_info}" />
</robot>